#menu {
    width: 100%;
    display: flex;
}

li {
    list-style-type: none;
}

.link {
    padding: 10px 10px;
    color: black;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#coming-soon {
    padding: 10px 10px;
    color: var(--color-muted);
    text-decoration: none;
}