#menu {
    width: 100%;
    display: flex;
}

li {
    list-style-type: none;
}

.menu-item{
    padding: 10px 15px;
    color: black;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
    text-underline-offset: 5px; 
}

#coming-soon {
    padding: 10px 10px;
    color: var(--color-muted);
    text-decoration: none;
}