#about {
    display: flex;
    flex-direction: column;
}


/* laptop styling: portrait and the description are in two columns. */
@media (min-width: 768px) {
    #about {
        flex-direction: row;
    }
}

.about-title {
    font-size: 1.5rem;
    margin: auto;
}

img {
    width: 50%;
    height: auto;
    min-width: 350px;
}

.column {
   margin: 20px 40px;
}

#about-body {
    text-align: left;
    width: 100%;
    margin: 10px 0;
    font-size: 1.2rem;
}